@import '~@atlaskit/util-shared-styles/src/colors.less';
@import '~@atlaskit/util-shared-styles/src/grid.less';

@breadcrumbs-padding: @ak-grid-size * 2;
@breadcrumbs-item-max-width: @ak-grid-size * 25;

.container {
  color: @ak-color-N300;
  display: flex;
  flex-wrap: wrap;

  .item {
    // Override link button color and padding
    & .item-button {
      color: @ak-color-N300;
      padding: 0;
    }

    & + .item {
      padding-left: @breadcrumbs-padding;

      [dir="rtl"] & {
        padding-left: 0;
        padding-right: @breadcrumbs-padding;
      }
    }

    & + .item::before {
      content: '/';
      float: left;
      margin-left: -@breadcrumbs-padding;
      padding: 2px 0; // To match compact button height of 24px
      position: absolute;
      text-align: center;
      vertical-align: middle;
      width: @breadcrumbs-padding;

      [dir="rtl"] & {
        float: right;
        margin-left: 0;
        margin-right: -@breadcrumbs-padding;
      }
    }
  }
}

.item-button {
  max-width: @breadcrumbs-item-max-width;
}

/* Tooltip styles. Remove when ak-tooltip is a react component: AK-1025 */
.tooltip {
  background-color: @ak-color-N900;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  opacity: 0;
  max-width: unit(50 * @ak-grid-size, px);
  padding: unit(@ak-grid-size / 4, px) unit(@ak-grid-size, px);
  pointer-events: none;
  position: absolute;
  top: unit(3 * @ak-grid-size, px);
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}

.tooltip-trigger {
  position: relative;
}

.truncated .tooltip-trigger:hover .tooltip {
  opacity: 1;
}
