@import './shared-variables.less';

// Label sizing
@label-inner-height: @grid * 2; // 16px
@label-font-size: 12;
@label-line-height: @label-inner-height / @label-font-size;


.label {
  display: block;
}

.label-text {
  color: @ak-color-N200;
  font-size: unit(@label-font-size, px);
  font-weight: 600;
  line-height: @label-line-height;
  padding: unit(@grid * 2.5, px) 0 unit(@grid / 2, px) 0;

  &.firstChild {
    padding-top: unit(@grid / 2, px);
  }

  &.inline-edit {
    padding-bottom: 0;
    padding-left: unit(@grid, px);
    padding-top: unit(@grid, px);
  }
}

.hidden {
  display: none;
}

.required-asterisk {
  padding-left: 2px;
}
