
.ak-button {
  align-items: baseline;
  box-sizing: border-box;
  border-radius: 3px;
  border-width: 0;
  display: inline-flex;
  font-style: normal;
  font-size: inherit;
  height: 2.28571429em;
  line-height: 2.28571429em;
  margin: 0;
  outline: none;
  padding: 0 8px;
  text-align: center;
  transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    transition: background 0s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  }
  &:active {
    transition-duration: 0s;
  }
  &:focus {
    outline: none;
    transition-duration: 0s, 0.2s;
  }
  &[disabled] {
    cursor: not-allowed;
  }

  // Default appearance
  &__appearance-default {
    background: rgba(9, 30, 66, 0.04);
    color: #505F79;
    text-decoration: none;

    &:hover {
      background: rgba(9, 30, 66, 0.08);
    }
    &:active {
      background: rgba(179, 212, 255, 0.6);
      color: #0052CC;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
      background: rgba(9, 30, 66, 0.04);
      color: #A5ADBA;
      text-decoration: none;

      &:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
      }
    }
  }

  // Subtle appearance
  &__appearance-subtle {
    background: none;
    color: #505F79;
    text-decoration: none;

    &:hover {
      background: rgba(9, 30, 66, 0.08);
    }
    &:active {
      background: rgba(179, 212, 255, 0.6);
      color: #0052CC;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
      background: rgba(9, 30, 66, 0.04);
      color: #A5ADBA;
      text-decoration: none;

      &:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
      }
    }
  }

  // Primary appearance
  &__appearance-primary {
    background: #0052CC;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      background: #0065FF;
    }
    &:active {
      background: #0049B0;
      color: #FFFFFF;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
      background: #0052CC;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      &:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
      }
    }
  }

  // Link appearance
  &__appearance-link {
    background: none;
    color: #0052CC;
    text-decoration: none;

    &:hover {
      background: none;
      color: #0065FF;
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
      background: none;
      color: #0049B0;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }

    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
      background: none;
      color: #A5ADBA;
      text-decoration: none;

      &:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
      }
    }
  }

  // Subtle link appearance
  &__appearance-subtle-link {
    background: none;
    color: #42526E;
    text-decoration: none;

    &:hover {
      background: none;
      color: #0065FF;
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
      background: none;
      color: #0049B0;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
    }

    &[disabled],
    &[disabled]:active,
    &[disabled]:focus {
      background: none;
      color: #A5ADBA;
      text-decoration: none;

      &:focus {
        box-shadow: 0 0 0 2px rgba(38, 132, 255, 0.6);
      }
    }
  }

  // Compact spacing
  &__spacing-compact {
    height: 1.71428571em;
    line-height: 1.71428571em;
  }

  // No spacing
  &__spacing-none {
    height: auto;
    line-height: normal;
    padding: 0;
  }

  // this removes some inbuilt padding that Firefox adds
  &::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
